//- div
//-   h3 Angular 4 with UI-Router Seed

//-   img(src="assets/image.png")
//-   nav
//-     a(uiSref="home", uiSrefActive="active") Home |
//-     a(uiSref="about", uiSrefActive="active") About |
//-     a(uiSref="contact", uiSrefActive="active") Contact Us

//-   main
//-     ui-view

//-   footer © 2017

div
    p Url
    input([(ngModel)]="link")
    button((click)="updateLink()") Update

div
    p Regex
    input([(ngModel)]="selector")
    button((click)="updateSelector()") Test
    
div
    p Current url: {{ fLink }}
    iframe([src]="fLink | safe", style="width:500px;height:500px;", [highlightByRegex]="fSelector")